<footer>
  <div class="footer">
    <p>This project was created by 5 members of group 1 for CS 546-A:</p>
    <p>Christopher Bernard</p>
    <p>Jamil Torres</p>
    <p>Nelson Bermeo</p>
    <p>Ryan Johnson</p>
    <p>Sahil Virani</p>
  </div>
</footer>