<footer>
  <div class="footer">
    <p>This project was created by 5 members of group 1 for CS 546-A:</p>
    <ul>
      <li>Christopher Bernard</li>
      <li>Jamil Torres</li>
      <li>Nelson Bermeo</li>
      <li>Ryan Johnson</li>
      <li>Sahil Virani</li>
    </ul>
  </div>
</footer>