{{> navbar}}<h1>Welcome to Chillspots!</h1>
<div class="homeContent">
  <p>ChillSpots helps users discover relaxing piers, scenic parks, quiet lakes,
    and other hidden gems perfect for an afternoon escape. Users can share
    photos, leave reviews, and explore nearby restaurants and amenities,
    everything you need to plan the perfect, stress-free outing.
  </p>
  <p>Use the navigation bar to either log in or register!</p>
</div>