{{> navbar}}
<div class="page-content">
  <h1>Welcome to ChillSpots!</h1>
  <div class="homeContent">
    <p>ChillSpots helps you discover relaxing piers, scenic parks, quiet lakes,
      and other hidden gems perfect for an afternoon escape. Share photos, leave
      reviews, and explore nearby spots — everything you need to plan the
      perfect, stress-free outing.
    </p>
    <p>Use the navigation bar to log in or register to get started!</p>
  </div>
</div>
{{> footer}}