{{> navbar}}<h1>Welcome to Chillspots!</h1>
<div class="homeContent">
    <p>ChillSpots helps users discover relaxing piers, scenic parks, quiet lakes,
        and other hidden gems perfect for an afternoon escape. Users can share
        photos, leave reviews, and explore nearby restaurants and amenities,
        everything you need to plan the perfect, stress-free outing.
    </p>
    {{#if loggedIn}}
    <a href="/search">Find a ChillSpot</a>
    <a href="/location/new">Add a ChillSpot</a>
    {{else}}
    <p>Log in or register to view locations, reviews, maps, lists, and profiles!</p>
    <a href="/login">Log In</a>
    <a href="/register">Register</a>
    {{/if}}
</div>