{{!
Handlebars Variables:
errors: array for errors that occur during login
}}
{{> navbar}}
<div class="page-content">
  <div class="card">
    <h1>Sign In</h1>
    <ul class="errorList" id="errors">
      {{#if errors}}
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      {{/if}}
    </ul>
    <form id="signin-form" name="signin-form" method="POST" action="/login">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="{{currForm.email}}" />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" />

      <input type="submit" id="loginButton" name="loginButton" value="Sign In" />
    </form>
  </div>
</div>
{{> footer}}
