{{!
    Handlebars Variables:
        errors: array for errors that occur during registration
}}
{{> navbar}}
<div class="page-content">
  <div class="card">
    <h1>Create an Account</h1>
    <ul class="errorList" id="errors">
      {{#if errors}}
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      {{/if}}
    </ul>
    <form id="register-form" name="register-form" method="POST">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" />

      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" />

      <label for="username">Username</label>
      <input type="text" id="username" name="username" />

      <label for="age">Age</label>
      <input type="number" id="age" name="age" min="0" max="120" />

      <label for="email">Email</label>
      <input type="email" id="email" name="email" />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" />

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" />

      <label for="profilePic">Profile Picture (optional)</label>
      <input type="file" id="profilePic" name="profilePic" accept="image/*" />

      <label for="adminSecret">Admin Secret (optional)</label>
      <input type="text" id="adminSecret" name="adminSecret" />

      <input type="submit" id="registerButton" name="registerButton" value="Register" />
    </form>
  </div>
</div>
{{> footer}}